
.main {

    margin:50px;
    font-family: 'Roboto', sans-serif;
    
}


button {
         
    margin-left:10px;
    color: grey;

}

input {

    margin-left:10px;
}

.form-control {

    width:26%
}

.list-group {

    font-family: 'Roboto', sans-serif;
    margin:50px;
}
 h1 {

    margin-left: 10px;
 }

 img {

    float:left;
    margin-right: 10px;
    
 }






